In [1]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="")

In [2]:
mydb

In [3]:
cursor = mydb.cursor()

In [4]:
cursor.execute("CREATE DATABASE mydatabase")

In [5]:
cursor.execute("SHOW DATABASES")

In [7]:
for database in cursor:
    print(database)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [9]:
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="mydatabase")

In [10]:
cursor = mydb.cursor()

In [11]:
cursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [12]:
cursor.execute("INSERT INTO customers(name,address) VALUES('Emeto Winner','Imo State')")
mydb.commit()

In [13]:
sql = "INSERT INTO customers(name,address) VALUES(%s,%s)"
val = ("Winner","Ikeja Lagos")

cursor.execute(sql,val)
mydb.commit()

In [21]:
sql = "INSERT INTO customers (name,address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

cursor.executemany(sql,val)
mydb.commit()

In [22]:
cursor.execute("CREATE TABLE details (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [23]:
sql = "INSERT INTO details (name,address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

cursor.executemany(sql,val)
mydb.commit()

In [24]:
cursor.execute("SELECT * FROM customers")
cursor.fetchall()

[(1, 'Emeto Winner', 'Imo State'),
 (2, 'Winner', 'Ikeja Lagos'),
 (3, 'Peter', 'Lowstreet 4'),
 (4, 'Amy', 'Apple st 652'),
 (5, 'Hannah', 'Mountain 21'),
 (6, 'Michael', 'Valley 345'),
 (7, 'Sandy', 'Ocean blvd 2'),
 (8, 'Betty', 'Green Grass 1'),
 (9, 'Richard', 'Sky st 331'),
 (10, 'Susan', 'One way 98'),
 (11, 'Vicky', 'Yellow Garden 2'),
 (12, 'Ben', 'Park Lane 38'),
 (13, 'William', 'Central st 954'),
 (14, 'Chuck', 'Main Road 989'),
 (15, 'Viola', 'Sideway 1633')]

In [27]:
cursor.execute("SELECT address FROM customers")
cursor.fetchall()

[('Imo State',),
 ('Ikeja Lagos',),
 ('Lowstreet 4',),
 ('Apple st 652',),
 ('Mountain 21',),
 ('Valley 345',),
 ('Ocean blvd 2',),
 ('Green Grass 1',),
 ('Sky st 331',),
 ('One way 98',),
 ('Yellow Garden 2',),
 ('Park Lane 38',),
 ('Central st 954',),
 ('Main Road 989',),
 ('Sideway 1633',)]

In [28]:
cursor.execute("SELECT * FROM customers WHERE name='Winner' ")
cursor.fetchall()

[(2, 'Winner', 'Ikeja Lagos')]

In [29]:
cursor.execute("UPDATE customers SET name='Mike John' WHERE id = 1")
mydb.commit()

In [30]:
cursor.execute("SELECT * FROM customers")
cursor.fetchall()

[(1, 'Mike John', 'Imo State'),
 (2, 'Winner', 'Ikeja Lagos'),
 (3, 'Peter', 'Lowstreet 4'),
 (4, 'Amy', 'Apple st 652'),
 (5, 'Hannah', 'Mountain 21'),
 (6, 'Michael', 'Valley 345'),
 (7, 'Sandy', 'Ocean blvd 2'),
 (8, 'Betty', 'Green Grass 1'),
 (9, 'Richard', 'Sky st 331'),
 (10, 'Susan', 'One way 98'),
 (11, 'Vicky', 'Yellow Garden 2'),
 (12, 'Ben', 'Park Lane 38'),
 (13, 'William', 'Central st 954'),
 (14, 'Chuck', 'Main Road 989'),
 (15, 'Viola', 'Sideway 1633')]