In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('mydatabase.db')

In [3]:
cursor = con.cursor()

In [4]:
cursor.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")
con.commit()

In [5]:
cursor.execute("INSERT INTO employees VALUES(1,'Winner Emeto',700,'IT','Manager','2021-06-22')")
con.commit()

In [6]:
cursor.execute("INSERT INTO employees VALUES(2,'Mercy',800,'IT','Manager','2021-06-22')")
con.commit()

In [7]:
entities = (3,'Emeto',1000,'HR','Manager','2021-06-22')
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()

In [8]:
user_id = int(input('Enter your ID: '))
name = input('Enter your name: ')
salary = float(input('Enter your salary: '))
department = input('Enter your department: ')
position = input('Enter your position: ')
date = input('Enter date "YYYY-M-D": ')
entities = (user_id,name,salary,department,position,date)
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()
print('Data has been inserted!!!')

Enter your ID: 4
Enter your name: Joy Mercy
Enter your salary: 1500
Enter your department: HR
Enter your position: Manager
Enter date "YYYY-M-D": 2021-06-13
Data has been inserted!!!

In [11]:
# user_id = int(input('Enter your ID: '))
# name = input('Enter your name: ')
# salary = float(input('Enter your salary: '))
# department = input('Enter your department: ')
# position = input('Enter your position: ')
# date = input('Enter date "YYYY-M-D": ')
# cursor.execute(f"INSERT INTO employees VALUES({user_id},{name},{salary},{department},{position},{date})")
# con.commit()

In [13]:
cursor.execute('UPDATE employees SET name = "George" where id = 3')
con.commit()

In [14]:
cursor.execute('UPDATE employees SET salary = 700 where id = 3')
con.commit()

In [16]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-22')
(2, 'Mercy', 800.0, 'IT', 'Manager', '2021-06-22')
(3, 'George', 700.0, 'HR', 'Manager', '2021-06-22')
(4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13')

In [17]:
cursor.execute("UPDATE employees SET salary=300,name='Peter' where id = 2")
con.commit()

In [26]:
cursor.execute('SELECT salary,hireDate FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(300.0, '2021-06-22')
(700.0, '2021-06-22')
(1500.0, '2021-06-13')

In [27]:
cursor.execute('SELECT DISTINCT salary,hireDate FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(300.0, '2021-06-22')
(1500.0, '2021-06-13')

In [28]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(700.0, '2021-06-22')

In [29]:
cursor.execute("UPDATE employees SET hireDate='2021-06-20' where id = 1")
con.commit()

In [31]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700')
rows = cursor.fetchall()
for row in rows:
     print(row)

(700.0, '2021-06-20')
(700.0, '2021-06-22')

In [32]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700 AND hireDate = "2021-06-20"')
rows = cursor.fetchall()
for row in rows:
     print(row)

(700.0, '2021-06-20')

In [33]:
cursor.execute('SELECT * FROM employees WHERE salary = 700 AND hireDate = "2021-06-20"')
rows = cursor.fetchall()
for row in rows:
     print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')

In [35]:
cursor.execute('SELECT * FROM employees ORDER BY id')
rows = cursor.fetchall()
rows

[(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22'),
 (3, 'George', 700.0, 'HR', 'Manager', '2021-06-22'),
 (4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13')]

In [37]:
cursor.execute('SELECT * FROM employees ORDER BY salary')
rows = cursor.fetchall()
for row in rows:
     print(row)

(2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22')
(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')
(3, 'George', 700.0, 'HR', 'Manager', '2021-06-22')
(4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13')

In [38]:
cursor.execute('SELECT * FROM employees ORDER BY id DESC')
rows = cursor.fetchall()
rows

[(4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13'),
 (3, 'George', 700.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')]

In [40]:
cursor.execute('DELETE FROM employees WHERE id=1')
con.commit()

In [41]:
cursor.execute('SELECT * FROM employees ORDER BY id DESC')
rows = cursor.fetchall()
rows

[(4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13'),
 (3, 'George', 700.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22')]

In [45]:
cursor.execute('SELECT COUNT(id) FROM employees')
rows = cursor.fetchall()
rows

[(3,)]

In [43]:
data = [3,4,5,5,6]
data

[3, 4, 5, 5, 6]

In [44]:
len(data)

5

In [48]:
user_id = int(input('Enter your ID: '))
name = input('Enter your name: ')
salary = float(input('Enter your salary: '))
department = input('Enter your department: ')
position = input('Enter your position: ')
date = input('Enter date "YYYY-M-D": ')
entities = (user_id,name,salary,department,position,date)
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()
print('Data has been inserted!!!')

Enter your ID: 7
Enter your name: Obinna
Enter your salary: 300
Enter your department: HR
Enter your position: Manager
Enter date "YYYY-M-D": 2021-06-27
Data has been inserted!!!

In [49]:
cursor.execute('SELECT * FROM employees ORDER BY id DESC')
rows = cursor.fetchall()
rows

[(7, 'Obinna', 300.0, 'HR', 'Manager', '2021-06-27'),
 (6, 'Joy', 4959.0, 'HHG', 'TR', '2021-06-19'),
 (5, 'Mike', 33.0, 'HHG', 'UUR', '2021-06-18'),
 (4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13'),
 (3, 'George', 700.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22')]

In [50]:
cursor.execute('SELECT COUNT(id),department FROM employees GROUP BY department')
rows = cursor.fetchall()
rows

[(2, 'HHG'), (3, 'HR'), (1, 'IT')]

In [51]:
cursor.execute('SELECT * FROM employees WHERE department = "HHG" ')
rows = cursor.fetchall()
for row in rows:
     print(row)

(5, 'Mike', 33.0, 'HHG', 'UUR', '2021-06-18')
(6, 'Joy', 4959.0, 'HHG', 'TR', '2021-06-19')

In [52]:
cursor.execute('SELECT * FROM employees WHERE department = "HR" ')
rows = cursor.fetchall()
for row in rows:
     print(row)

(3, 'George', 700.0, 'HR', 'Manager', '2021-06-22')
(4, 'Joy Mercy', 1500.0, 'HR', 'Manager', '2021-06-13')
(7, 'Obinna', 300.0, 'HR', 'Manager', '2021-06-27')

In [53]:
cursor.execute('SELECT * FROM employees WHERE department = "IT" ')
rows = cursor.fetchall()
for row in rows:
     print(row)

(2, 'Peter', 300.0, 'IT', 'Manager', '2021-06-22')

In [54]:
cursor.execute('drop table if exists employees')
con.commit()

In [55]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
rows

OperationalError: no such table: employees

In [56]:
con.close()